.reading-width {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

 .reading-width-footer-tag {
  max-width: 600px;
  margin: -20px auto;
  padding: 0 20px 20px;
}

 .reading-width-footer-tag > .content {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

.aside.interactive-enabled .foreground.container > div:nth-child(1) {
  order: 0;
}

.aside.interactive-enabled.row-reversed .foreground.container > div:nth-child(2) {
  order: 0;
} 

.aside.interactive-enabled .foreground.container .image > h2,
.aside.interactive-enabled .foreground.container .image > h1,
.aside.interactive-enabled .foreground.container .image > h3,
.aside.interactive-enabled .foreground.container .image > h4,
.aside.interactive-enabled .foreground.container .image > h5,
.aside.interactive-enabled .foreground.container .image > h6 {
  display: none;
  font-size: 36px;
  line-height: 45px;
  margin: 0;
}

.interactive-enabled .foreground .image > p {
  width: 100%;
  margin: auto;
  height: 0;
}

.aside.interactive-enabled .foreground.container .image > h2 + p,
.aside.interactive-enabled .foreground.container .image > h3 + p,
.aside.interactive-enabled .foreground.container .image > h1 + p,
.aside.interactive-enabled .foreground.container .image > h4 + p,
.aside.interactive-enabled .foreground.container .image > h5 + p,
.aside.interactive-enabled .foreground.container .image > h6 + p,
.aside.interactive-enabled .foreground.container .image > p:nth-child(1) {
  position: absolute;
  bottom: 570px;
  display: flex;
  flex-direction: row;
  height: auto;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.interactive-enabled .foreground .image > h2 + p {
  margin-top: 24px;
}

.interactive-enabled .foreground .image > p img[src*=".svg"] {
  position: relative;
  width: 49px;
  height: 73px;
  top: -30px;
  right: 30px;
  z-index: 2;
} 

@media screen and (max-width: 600px) {
  .interactive-enabled.heading-top .foreground .image > h1,
  .interactive-enabled.heading-top .foreground .image > h2,
  .interactive-enabled.heading-top .foreground .image > h3,
  .interactive-enabled.heading-top .foreground .image > h4,
  .interactive-enabled.heading-top .foreground .image > h5,
  .interactive-enabled.heading-top .foreground .image > h6 {
    display: block;
  }
  
  .interactive-enabled.heading-top .foreground .text > h1,
  .interactive-enabled.heading-top .foreground .text > h2,
  .interactive-enabled.heading-top .foreground .text > h3,
  .interactive-enabled.heading-top .foreground .text > h4,
  .interactive-enabled.heading-top .foreground .text > h5,
  .interactive-enabled.heading-top .foreground .text > h6 {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .marquee.interactive-enabled .foreground.container .image,
  .aside.interactive-enabled .foreground.container .image {
    margin-inline-start: 0;
    margin: auto;
  }

  .interactive-enabled .foreground .image > p {
    width: var(--grid-container-width);
    max-width: 570px;
    margin: auto;
  }
  
  .interactive-enabled .foreground .image > h2 + p,
  .interactive-enabled .foreground .image > p:nth-child(1) {
    position: relative;
    right: 30px;
    margin: auto;
    margin-bottom: 24px;
  }

  .interactive-enabled .foreground .image > p img[src*=".svg"] {
    top: -38px;
    right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .marquee.interactive-enabled .foreground.container,
  .aside.interactive-enabled .foreground.container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .interactive-enabled .foreground .image {
    height: auto;
    width: var(--grid-container-width);
    max-width: 570px;
    border-radius: 16px;
    margin-inline-start: 60px;
    background: none;
    margin-bottom: 42px;
  }

  .interactive-enabled .foreground .image > h2 + p,
  .interactive-enabled .foreground .image > p:nth-child(1) {
    margin: 0;
    margin-bottom: 24px;
  }

  .interactive-enabled .foreground .image > p img[src*=".svg"] {
    right: 109px;
    top: -70px;
  } 

  [dir="rtl"] .interactive-enabled .foreground.container .text {
    order: 2;
  }
}
