.firefly-masonry .mobile-only,
.firefly-masonry .grid-layout {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  display: none;
}

.grid-container { 
  display: grid;
  width: 635px;
  height: 408px;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--spacing-s);
  row-gap: var(--spacing-xs);
  justify-content: center;
}

.image-container {
  position: relative;
}

.image-container a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 16px;
}

.firefly-masonry .image-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212121A8;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  margin-block-end: 0;
  margin-block-start: 0;
  color: var(--color-white);
  border-radius: 16px;
}

.image-container:hover .image-content {
  opacity: 1;
}

.ff-grid-span-4.image-container {
  height: 196px;
  width: 196px;
  grid-column: span 4;
}

.ff-grid-span-8.image-container {
  height: 196px;
  width: 415px;
  grid-column: span 8;
}

.ff-grid-span-12.image-container {
  height: 196px;
  width: 634px;
  grid-column: span 12;
}

.ff-grid-span-6.image-container {
  height: 196px;
  width: 306px;
  grid-column: span 6;
}

.ff-masonary-prompt {
  position: absolute;
  top: 0;
  justify-content: center;
  margin-inline-start: 0;
}

.interactive-marquee.firefly-masonry .interactive-container .media {
  top: 36px;
}

.interactive-marquee.firefly-masonry .interactive-container .enticement-arrow {
  display: block;
  width: 49px;
  height: 73px;
  position: absolute;
  transform: rotate(310deg);
  margin: 490px -55px 10px -5px;
}

.interactive-marquee.firefly-masonry .interactive-container .enticement-text {
  display: block;
  max-width: 30ch;
  position: absolute;
  font-size: 28px;
  line-height: 35px;
  font-weight: bold;
  margin: 40px 0 16px -20px;
  top: 390px;
  color: var(--color-white);
}

.interactive-marquee.firefly-masonry .interactive-container .enticement-text.light {
  color: #000;
}

@media (max-width: 600px) {
  .firefly-masonry .mobile-only {
    display: block;
  }


  .hoversvg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-48%, -30%); 
  }

  .firefly-masonry .mobile-only .image-prompt {
    height: 71px;
    background: var(--color-white);
    border-radius: 15px;
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    border: 1px solid #E6E6E6;
    justify-content: space-between;
    width: 240px;
    box-sizing: content-box;
    opacity: 1;
    position: relative;
    top: -30px;
    margin-inline-start: 15px;
    overflow: hidden;
  }

  /*.firefly-masonry .mobile-only .image-content {
    justify-content: center;
    display: flex;
    /*position: absolute;
    
  }*/

  .firefly-masonry .mobile-only .image-content {
    position: relative;
  }

  .firefly-masonry .mobile-only .image-content > span {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -55%); 
  }

  .firefly-masonry .mobile-only .image-container {
    position: relative;
    height: 329px;
    width: 300px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
  }


  .interactive-marquee.firefly-masonry .interactive-container .enticement-arrow {
    transform: rotate(0deg);
    width: 30px;
    height: 43px;
    top: -500px;
    margin-inline-start: -40px;
  }
  
  .interactive-marquee.firefly-masonry .interactive-container .enticement-text {
    font-size: 16px;
    line-height: 24px;
    top: -70px;
  }

  .interactive-marquee.firefly-masonry .text {
    order: 0;
  }

  .interactive-marquee.firefly-masonry .interactive-container {
    height: 530px;
    width: 360px;
    display: flex;
    justify-content: center;
  }

  .interactive-marquee.firefly-masonry .interactive-container .media.mobile-only  {
    height: 300px;
    width: 329px;
  }

  .interactive-marquee.firefly-masonry .action-area {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .firefly-masonry .grid-layout {
    display: block;
  }

  .interactive-marquee.firefly-masonry .interactive-container {
    width: 625px;
  }

  .ff-masonary-prompt {
    top: 470px;
    margin-inline-start: 64px;
  }

  /*.hoversvg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-48%, -30%); 
  }*/
}

@media screen and (min-width: 1200px) {
  .firefly-masonry .grid-layout {
    display: block;
  }

  .interactive-marquee.firefly-masonry .interactive-container .enticement-arrow {
    display: block;
    width: 49px;
    height: 73px;
    position: absolute;
    transform: rotate(310deg);
    margin: 490px -55px 10px -5px;
  }
  
  .interactive-marquee.firefly-masonry .interactive-container .enticement-text {
    max-width: 30ch;
    position: absolute;
    font-size: 28px;
    line-height: 35px;
    font-weight: bold;
    margin: 40px 0 16px -20px;
    top: 390px;
  }

  .ff-masonary-prompt {
    top: 470px;
    margin-inline-start: 64px;
  }
}
